[submodule "externals/geoext"]
	path = externals/geoext
	url = git://github.com/opengeo/GeoExt.git
[submodule "externals/openlayers"]
	path = externals/openlayers
	url = git://github.com/openlayers/openlayers.git
