[submodule "externals/geoext"]
	path = externals/geoext
	url = git://github.com/geoext/geoext.git
[submodule "externals/openlayers"]
	path = externals/openlayers
	url = git://github.com/openlayers/openlayers.git
[submodule "externals/ringo"]
	path = externals/ringo
	url = git://github.com/ringo/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/opengeo/buildkit.git
[submodule "externals/PrintPreview"]
	path = externals/PrintPreview
	url = git://github.com/GeoNode/PrintPreview.git
[submodule "externals/TimeManager"]
	path = externals/TimeManager
	url = git://github.com/mpriour/TimeManager_OpenLayers-Addin.git
