
.x-btn .add {
    background-image: url(img/add.png);
}

.x-btn .delete {
    background-image: url(img/delete.png);
}

.x-btn .duplicate {
    background-image: url(img/silk/arrow_divide.png);
}

.x-btn .save {
    background-image: url(img/accept.png);
}

.x-btn .cancel {
    background-image: url(img/decline.png);
}

.x-btn .edit {
    background-image: url(img/pencil.png);
}

.gx-filterbuilder .x-toolbar {
    background: transparent;
    border: none !important;
}

/* fixes textarea scrollbar issue in FF on OSX */
.ext-gecko.ext-mac textarea.x-form-field {
    padding: 1px 2px;
}
