
.x-btn .add {
    background-image: url(img/silk/add.png);
}

.x-btn .delete {
    background-image: url(img/silk/delete.png);
}

.x-btn .duplicate {
    background-image: url(img/silk/arrow_divide.png);
}

.x-btn .save {
    background-image: url(img/accept.png);
}

.x-btn .cancel {
    background-image: url(img/decline.png);
}

.x-btn .edit {
    background-image: url(img/pencil.png);
}

.gx-filterbuilder .x-toolbar {
    background: transparent;
    border: none !important;
}

/* gx_embedmapdialog */
.gx-field-label {
    font-weight: bold;
    margin: 4px;
    vertical-align: baseline;
}
.gx-export-section {
    padding: 10px 10px 5px 10px;
    margin-bottom: 0;
}

/* gx_wmsgetfeatureinfo */
.x-btn .gx-icon-getfeatureinfo, .x-menu-item .gx-icon-getfeatureinfo {
    background-image: url(img/silk/information.png);
}

/* gx_featureeditor */
.x-btn .gx-icon-addfeature, .x-menu-item .gx-icon-addfeature {
    background-image: url(img/silk/pencil_add.png);
}
.x-btn .gx-icon-editfeature, .x-menu-item .gx-icon-editfeature {
    background-image: url(img/silk/map_edit.png);
}

/* gxp_addlayers */
.x-btn .gxp-icon-addlayers, .x-menu-item .gxp-icon-addlayers {
    background-image: url(img/silk/add.png);
}
.x-btn .gxp-icon-addserver {
    background-image: url(img/silk/map_add.png);
}

/* gxp_panmap */
.x-btn .gxp-icon-pan {
    background-image: url(img/geosilk/pan.png);
}

/* gx_removelayer */
.x-btn .gx-icon-removelayers, .x-menu-item .gx-icon-removelayers {
    background-image: url(img/silk/delete.png);
}

/* gx_featuregrid */
.x-btn .gx-icon-zoom-to, .x-menu-item .gx-icon-zoom-to { 
    background-image: url(img/silk/magnifier.png);
}

/* gx_queryform */
.x-btn .gx-icon-find, .x-menu-item .gx-icon-find { 
    background-image: url(img/silk/find.png);
}

/* gx_selectfeature */
.x-btn .gx-icon-selectfeature, .x-menu-item .gx-icon-selectfeature { 
    background-image: url(img/silk/cursor.png);
}

/* gx_zoomtoextent */
.x-btn .gx-icon-zoomtoextent { 
    background-image: url(img/silk/arrow_out.png);
}

/* gxp_navigationhistory */
.x-btn .gxp-icon-zoom-previous {
    background-image: url(img/silk/arrow_left.png);
}
.x-btn .gxp-icon-zoom-next {
    background-image: url(img/silk/arrow_right.png);
}

/* gxp_zoom */
.x-btn .gxp-icon-zoom-in {
    background-image: url(img/silk/magnifier_zoom_in.png);
}
.x-btn .gxp-icon-zoom-out {
    background-image: url(img/silk/magnifier_zoom_out.png);
}

/* gxp_measure */
.gxp-icon-measure-length {
    background-image: url(img/geosilk/ruler.png) !important;
}

.gxp-icon-measure-area {
   background-image: url(img/geosilk/ruler_square.png) !important;
}

/* fixes textarea scrollbar issue in FF on OSX */
.ext-gecko.ext-mac textarea.x-form-field {
    padding: 1px 2px;
}
